* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

/* header */
#header {
    padding: 20px;
    height: 280px;
    background: linear-gradient(to bottom, #3A2CAC, #631D9E);
}
#header nav {
    margin: 0 auto;
    max-width: 1000px;
}
#header nav a {
    color: #f0f0f0;
}

#header nav a:hover {
    color: #f90;
}
#header .login {
    float: right;
}
#header nav ul li {
    display: inline-block;
    margin-right: 40px;
}

#header .info {
    margin: 50px auto;
    width: 730px;
    color: #f0f0f0; 
}
#header .info ul{
    float: right;
}
#header .info h1 {
    line-height: 70px
}
/* banner */

.banner {
    margin: 0 auto;
    margin-top: -105px;
    padding: 20px;
    width: 690px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3)
}
.banner ul {
    text-align: center;
    font-size: 0;
}
.banner ul li {
    display: inline-block;
    height: 160px;
    width: 180px;
    font-size: 14px;
}
.banner ul li .feature {
    margin: 20px auto;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background: #F5A523;
}

/* content */
.content {
    margin: 100px auto;
    width: 730px;
}
.content .content-box::after {
    content: '';
    display: block;
    clear: both;
    visibility: hidden;
}
.content .content-box {
    margin-bottom: 100px;
    margin-left: -40px;
}
.content .content-box img {
    float: left;
    margin-left: 40px;
    width: 440px;
    height: 235px;
}
.content .content-box .content-text {
    float: left;
    margin-left: 40px;
    line-height: 50px;
    font-size: 24px;
    color: #999;
}
.content .content-box .content-text h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

/* footer */
#footer {
    width: 100%;
    font-size: 12px;
    color: #999;
    text-align: center;
}